.ad-div{
    margin-top: .5rem;
}
.ad-div div{
    border-radius: .3rem;
    margin-bottom: .2rem;
    overflow: hidden;
}
.hover-img{
    transition: transform 1s;
}
.hover-img:hover{
    transform: scale(1.5);
}