.header{
    background-color: #fff;

    padding: .4rem;
    overflow: hidden;
    height: 3.2rem;
    border-bottom:1px solid #ccc;
    z-index: 9999;
}
.header-logo{
    color:#1e90ff;
    font-size: 1.4rem;
    text-align: left;
}
.header-txt{
    font-size: 0.6rem;
    color: #999;
    display: inline-block;
    padding-left: 0.3rem;
    cursor: pointer;
    transition: padding .5s;
}
.header-txt:hover{
    padding-bottom: 5px;
}
.ant-meu{
    line-height: 2.8rem;

}
.ant-menu-item{
    /* font-size:.1rem !important; */
    padding-left:1rem;
    padding-right:1rem;

}
.header-icon{
    margin-right: .5rem;
}
.header-icon-diy{
    width: 1.2rem;
    margin-right: .5rem;
}
.ant-menu-title-content{
    display: flex;
    align-items: center;
}
/* hover 样式 */
.hvr-underline-from-left:before{
    background: #1890ff !important;
}